@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    background: #340088;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: blanchedalmond;
}

h2 {
    color: chartreuse;
}